<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<head>
    <script src="/js/events.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/events.css" />
</head>


<body>
<div th:replace="fragments/navigation :: navbar"></div>

<nav class="navbar flex-row" style="background-color: #cccccc; width: 72%; margin: auto;">
    <div class="btn-group">
        <label class="theLabels" for="filterAgeDropdown" style=" white-space:nowrap;display: flex;align-items: center;padding-top: 5px;padding-right: 5px" >Filter by age:</label>
        <select id = "filterAgeDropdown" class="form-control">
            <option value = "">No filter</option>
            <option value = "1-2">1 - 2</option>
            <option value = "3-5">3 - 5</option>
            <option value = "6-9" >6 - 9</option>
            <option value = "10-12" >10 - 12</option>
            <option value = "13-15">13 - 15</option>
            <option value = "15-17">15 - 17</option>
            <option value = "No Children">No children</option>
        </select>

    </div>
    <div id="searchForm" class="form-inline" style="  float: none;  vertical-align: top; text-align: center;" onsubmit="return false">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Events" id="searchInputField" aria-label="Search" name="search">
        <button id="searchBtn" type="button" class="btn btn-primary" onclick="searchEvents('')" >Search</button>
    </div>
</nav>


<ul id="eventList" ></ul>
<div th:replace="fragments/footer :: footer"></div>
</body>

<div class="card text-center text-white bg-dark mb-3" id="eventCard0">
    <div class="card-header" id = "eventCategory0">
        Category
    </div>
    <div class="card-body search_section">
        <h5 class="card-title" id = "eventTitle0">Title</h5>
        <p class="card-text " id = "eventDate0">Event Date </p>
        <p class="card-text " id = "eventTime0">Event Time </p>
        <div  style="display: inline-block">
            <p class="card-text" id = "eventAddress0" style="display: inline-block">Address </p>  <a href="#" target="_blank" id="eventMapLink0" class="card-link">Get Directions</a>
        </div>
        <p class="card-text" id = "eventDescription0">Description</p>
        <p class="card-text" id = "eventChildrenAgeRange0">Child Age Range</p>
    </div>
    <div class="card-footer text-muted" id = "eventTimestampAndUsername0">
        timestamp days ago by Username
    </div>
</div>


<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/addEvent}">
                    <div class="form-group" th:object="${event}">
                        <label for="addEventTitle" class="col-form-label">Title:</label>
                        <input type="text" th:field="*{title}" class="form-control" id="addEventTitle" maxlength="120">

                        <label for="addEventDate" class="col-form-label">Event Date:</label>
                        <input type="date" th:field="*{eventDate}" class="form-control" id="addEventDate">

                        <label for="addEventTime" class="col-form-label">Event Time:</label>
                        <input type="time" th:field="*{eventTime}" class="form-control" id="addEventTime">

                        <label for="addEventAddress" class="col-form-label">Street Address:</label>
                        <input type="text" th:field="*{address}" class="form-control" id="addEventAddress" maxlength="120">

                        <label for="addEventZipcode" class="col-form-label">Zipcode:</label>
                        <input type="text" th:field="*{zipcode}" class="form-control" id="addEventZipcode" maxlength="5">

                        <label for="addEventCategory" class="col-form-label">Category:</label>
                        <input type="text" th:field="*{category}" class="form-control" id="addEventCategory" maxlength="100">

                        <label for="addEventDescription" class="col-form-label">Description:</label>
                        <textarea class="form-control" th:field="*{description}" id="addEventDescription" maxlength="254"></textarea>

                        <br>
                        <label class="theLabels" for="ageDropdown">Age range of children attending</label>
                        <select id = "ageDropdown" th:field="*{childrenAgeRange}">
                            <option value = "Infant">1 - 2</option>
                            <option value = "Toddler">3 - 5</option>
                            <option value = "Adolescent" >6 - 9</option>
                            <option value = "Elementary" >10 - 12</option>
                            <option value = "Middle School">13 - 15</option>
                            <option value = "High School">15 - 17</option>
                            <option value = "No Children">No children</option>
                        </select>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitEventButton">Add Event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="right-corder-container">
    <button id="addEventBtn" class="right-corder-container-button" data-toggle="modal" data-target="#addEventModal">
        <span class="short-text">+</span>
        <span class="long-text">Add Event</span>
    </button>
</div>

</html>

