<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mapstyling.css" />
    <script src="/js/searchmap.js"></script></head>
    <link rel="stylesheet" type="text/css" href="css/starability-all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
<div th:replace="fragments/navigation :: navbar"></div>
<div th:replace="fragments/pagetitle :: pagetitle"></div>

<div id="panel"></div>
<div id="map"></div>
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Review for </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="starRating" class="col-form-label">Rating:</label>
                        <fieldset class="starability-basic" id="starRating">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>


                        <label for="addReviewText" class="col-form-label">Review:</label>
                        <textarea class="form-control" id="addReviewText" maxlength="254"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitReviewButton">Add Review</button>
            </div>
        </div>
    </div>

</div>

<div id="SuccessModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" id="successIconBox">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Review Added!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Thanks for reviewing!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal" id="successButton">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="ErrorModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" id="errorIconBox">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Oh no!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Something went wrong :(</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal" id="errorButton">OK</button>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwMtE6zsn4mZ6fQPlMWciXBfsHdT7HBt0&libraries=places&callback=initMap"></script>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>